# chrome, firefox, edge, ie,
driver:           'chrome'
firefox-path:     'C:\\Program Files (x86)\\Mozilla Firefox\\firefox.exe'

# how many seconds of delay is default after each work under a workflow
default-seconds:
  # how many seconds of delay is default after each work under a workflow
  between-work:   0
  # how many seconds to wait for an element
  element-wait:   30

# all paths are relative to this file location
dirs:
  output-dir:     '../out'

# file locations
files:
  # location of Google service account credential
  google-cred:    './credential.json'

# test spec related parameters, a test spec is actually a gsheet
test-spec:
  # the gsheet suffix where the test cases are, prefix *test-spec__* is added before the spec to get the gsheet name
  spec-file:      'test-spec-gsheet-without-prefix'

  # Python modules (having a class named class) for reader/driver/log-writer
  module:         'helper.{}.nbr.ums.python-module-name'

  # class name - it is the actual class name for all readers, drivers and log-writers - so it must follow a Python class name rule
  class:      'python-class-name'
