# directory where the input and outputs are
output-dir:                 '../out'
asr-output-file:            'asr-output.txt'

# MAX seconds allowed for output audio
MAX-AUDIO-SECONDS-ALLOWED:  25

# MIN seconds allowed for output audio
MIN-AUDIO-SECONDS-ALLOWED:  5

# the minimum length for silent sections in milliseconds
min-silence-len:            500

# the upper bound for how quiet is silent in dBFS
silence-thresh:             -40

# size of the step for checking for silence in milliseconds. Smaller is more precise
seek-step:                  5

# milisecond of audio to keep from the preceding segment before a voiced segment
audio-ms-to-keep-before:    100

# milisecond of audio to keep from the next segment after a voiced segment
audio-ms-to-keep-after:     100

# low pass filter spec. 
# The attenuation is -6dB/octave beyond the cutoff frequency (for 1st order). 
# A Higher order filter will have more attenuation, each level adding an additional -6dB 
# (so a 3rd order butterworth filter would be -18dB/octave).
low-pass-filter:
  frequency:                5000
  order:                    5

# low pass filter spec. 
high-pass-filter:
  frequency:                200
  order:                    5

# whether ASR will be run on the outputs or not
do-asr:                     True