# log level (0-TRACE, 1-DEBUG, 2-INFO, 3-WARN, 4-ERROR) below which logs will not be printed
log-level:                  1

# seconds to wait for before retrying
wait-for:                   60

# number of gsheets to process before a wait
wait-for:                   3

# retry count, how many times to retry if API call fails
try-for:                    3

# the google credential for accessing the gsheet(s) (this file must not be in the repo)
credential-json:            '../conf/credential.json'

# tasks to perform, sequence matters
gsheet-tasks:
- add_columns
- add_rows
- clear_conditional_formats
- clear_data_validations
- column_pixels_in_row
- copy_worksheets_to_other_gsheets
- create_review_notes_conditional_formatting
- create_worksheets
- duplicate_worksheet
- find_and_replace
- format_worksheets
- link_cells_based_on_type
- link_cells_to_drive_files
- link_cells_to_worksheet
- move_column
- order_columns
- order_worksheets
- remove_columns
- remove_trailing_blank_rows
- remove_worksheets
- rename_worksheet
- resize_columns_from_values_in_row
- work_on_ranges


# the gsheet(s) that will be processed
gsheets:


# gsheets which are targets for some activities like copy worksheet
destination-gsheet-names:


# worksheets on which some work will be done, supports RE
worksheet-names:


# worksheets to be excluded, support RE
worksheet-names-excluded:


# work specifications to apply on a list of worksheets
work-specs:


# find and replace patterns
find-replace-patterns:


# worksheet structure definition for creating and formatting worksheets
worksheet-defs:


# drive folders to work on
drive-folders: